/* .appBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 64px;
    background-color: #333;
    color: white;
}

.menuButton {
    font-size: 24px;
    cursor: pointer;
}

.title {
    margin: 0;
    font-size: 24px;
} */