.search-button {
    color: #fff;
    background-color: #fd571b;
    border: 1px solid #fd571b;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 12px;
}

.export-button {
    color: #fd571b;
    border: 1px solid #fd571b;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 12px;
}

.employee-search-box {
    border: 1px solid #fd571b;
}

.form-group input {
    padding: 2px 20px;
    outline: 2px solid black;
}

.employee-table-container {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.add-edit-employee-input-field {
    border: 1px solid gray;
    padding: 8px 20px;
    border-radius: 4px;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.whiteBg {
    background-color: black !important;
    color: black !important;
    border: 1px solid black !important;
}

/*  */

.variation-container {
    width: 100%;
}

.heading {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.heading svg {
    margin-left: 10px;
    font-size: 28px;
}

.divider {
    margin: 20px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.options {
    margin: 20px 0;
}

.option {
    margin-bottom: 10px;
}

.add-option,
.delete-option,
.delete-section,
.add-section {
    cursor: pointer;
    background-color: #007bff;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.delete-option {
    background-color: #dc3545;
}

.delete-section {
    background-color: #dc3545;
}

.add-section {
    background-color: #28a745;
}